* {
    transition: 0.1s all ease-in;
}

.searchbar {
    width: 100%;
    max-width: 40rem;
    border-radius: 1rem;
}

@media screen and (min-width: 600px) {
    .searchbar {
        min-width: 20rem;
        margin-right: 1rem;
        margin-left: 1rem;
    }
}


input {
    outline: none;
}

input:focus {
    border: 2px solid rgb(131, 240, 104);
}