* {
    transition: all 0.2s ease-in;
    animation: fadeInFromBottom 0.5s ease-out;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
    margin: 1rem;
}

@media (min-width: 800px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@keyframes fadeInFromBottom {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}